body {
  background-color: lightgreen;
}

svg {
  display: block;
  margin-top: 15px;
  border: 1px dotted black;
}

.circle {
  fill: blue;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#output {
  
}
