/* Resetting Fonts Minus Custom Ones */
* {
  font-family: 'Raleway', 'Roboto', sans-serif;
}
/* Login & Auth */
.login-title {
  font-family: 'Megrim', 'Raleway', cursive;
  width: 100%;
}

.login-subheader {
  font-family: 'Raleway', 'Roboto', sans-serif;
  width: 100%;
}

.login-cover {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginError {
  display: none;
}

#loginLoader {
  display: none;
}

#pageLoader {
  display: none;
}
/* End Login & Auth */

/* Header & Navigation */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button, .mdl-layout__header-row {
  padding: 0;
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: rgba(0,0,0,0.87);
}
.mdl-layout__header{
  background-color: transparent;
}

.right-align {
  text-align: right;
  float:right;
  width: 50vw;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-button {
  margin-right: 2vh
}

#analyser {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
}

.title{
  width: 85%;
  margin: 0 auto;
  text-align: right;
  font-family: 'Megrim', 'Raleway', cursive;
  font-weight: 600;
  font-size: 48px;
  text-shadow:
    -1px -1px 4px #fff,
    1px -1px 4px #fff,
    -1px 1px 4px #fff,
     1px 1px 4px #fff;
}

header {
  height:10vh
}

.mdl-button--fab {
    height: 48px;
    width: 48px;
    min-width: 48px;
}
#signOutButton {
  background: rgb(255,87,34);
}
/* End Navigation */

/*font-family: 'Megrim', cursive;*/
/*font-family: 'Raleway', sans-serif;*/

/* Page Wide Settings */
body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  font: 14pt Arial, sans-serif;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  margin: 0 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  display: inline-block;
}

form {
  display: inline-block;
}

.mdl-grid {
    max-width: 1152px;
    display: flex;
    justify-content: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.right{
  display: inline-block;
  float:right;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

canvas {
  display: block;
  box-shadow: 0px 0px 10px grey;
}

#outputRealm {
  margin: 0 auto;
  display: inline-block;
}

#output {
  margin: 0 auto;
  display: inline-block;
  margin-top: 15px;
  box-shadow: 0px 0px 10px grey;
}

#settings {
  display: inline-block;
  margin-top: 15px;
}

#controls {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

#record.recording {
  background: rgba(255, 0, 0, 0.87);
}
/* End page wide settings */

/* Hidden Specific Settings */
#encodingSelect {
  display: none;
}
